<div class="text-center">
	<h1 class="display-3">Hola bienvenido me llamo Minion Stuart y tengo 13 años</h1>
	<h4>Esto es una bienvenida formal a mi página web</h4>
	<img id="foto" src="~/img/foto.jpg" alt="foto de los Minions" />
	<h4>Eres menor de edad, lo siento vete con Pandih...  <button class="btn btn-danger">Ir con pandih :(</button></h4>
</div>

<div class="text-center">
	<img src="~/img/bgd.jpg" alt="Imagen del baner" id="imagen-baner" />

</div>

<div class="row justify-content-center text-center bg-dark seccion-bienvenida">
	<div class="col col-md-7">
		<h1>Bienvenido a la página de SoyPandih</h1>
		<p>
			Mi nombre real es Maria.<br />
			Soy de un pueblo cercano a Barcelona (Dónde la gente suele perder trenes).<br />
			Me considero una persona un tanto competitiva (del 1 al 10 un 0,1).<br />
			Me gusta jugar minecraft y en si los juegos competitivos.<br />
			Me gustan los caballos y la salsa boloñesa.<br />
			Me gusta pegar a la gente muy de vez en cuando (del 1 al 10 un 1000).<br />
			<hr />
			Tengo un cuarto rojo. <button class="btn btn-danger">Ir al cuarto rojo</button>
		</p>
	</div>
</div>

