<div class="text-center">
	<h1 class="display-3">Me llamo Pandih y tengo 13 años</h1>
	<h4>Esta es mi página web</h4>
	<img id="foto" src="~/img/perfil.png" alt="foto de los Minions" />
	<h4>
		Eres menor de edad, lo siento vete con Pandih...
		<a class="btn btn-dark" href="https://www.twitch.tv/soypandih" target="_blank" rel="noopener noreferrer">Ir con pandih :(</a>
	</h4>

</div>

<div class="text-center">
	<img src="~/img/pandihtwitch.png" alt="Imagen del baner" id="imagen-baner" />
</div>

<div class="row justify-content-center text-center bg-dark seccion-bienvenida">
	<div class="col col-md-7">
		<h1>Bienvenido a la página de SoyPandih</h1>
		<p>
			Mi nombre real es Maria.<br />
			Soy de un pueblo cercano a Barcelona (Dónde la gente suele perder trenes).<br />
			Me considero una persona un tanto competitiva (del 1 al 10 un 0,1).<br />
			Me gusta jugar minecraft y en si los juegos competitivos.<br />
			Me gustan los caballos y la salsa boloñesa.<br />
			Me gusta pegar a la gente muy de vez en cuando (del 1 al 10 un 1000).<br />
			<hr />
			Tengo un cuarto rojo:   <button class="btn btn-danger">Ir al cuarto rojo</button>

		</p>
	</div>
</div>


@section Scripts{
<!-- Page specific script -->
<script type="text/javascript">

	function showHide(){
		var oImageDiv=document.getElementById('myimageDiv')
		oImageDiv.style.display=(oImageDiv.style.display=='none')?'inline':'none'
	}

</script>
}

