@model IEnumerable<Proyecto>
@if (Model is not null)
{
	<div class="text-center" style="padding-top: 6rem;">
		<h1>Mis momentos recientes</h1>
		<p>Aquí puedes ver algunos de mis momentos recientes siendo un pan de dios... vamos un Pandihdios</p>
	</div>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			@foreach (var proyecto in Model)
			{
				<div>
					<div class="card h-100">
						<img src="@proyecto.ImagenURL" class="card-img-top" alt="Imagen del momento" />
						<div class="card-body">
							<h5 class="card-title text-center "><strong>@proyecto.Titulo</strong></h5>
							<p class="card-text">@proyecto.Descripcion</p>
						</div>
						<div class="card-footer">
							<div class="d-grid gap-1">
								<a class="btn btn-outline-dark" href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Ver momento</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}